<header class="row fix-row">
  <div class="head-section">Welcome {{ username }}</div>
    <button class="btn btn-primary log-out" (click)="logout()">
      Logout
    </button>
</header>
<div class="dashboard-container">
  <input
    #searchPlanet
    class="dashboard"
    type="text"
    [formControl]="typeahead"
    placeholder="Search Star Wars Planets"
    (input)="restrictSearch()"
  />
  <div *ngIf="isSearchDisabled" class="alert alert-danger error-message">You have reached maximum attempt in 1 minute. Please try after 1 minute.</div>
</div>
  <div class="planet-container">
  <div  *ngFor="let suggestion of suggestedPlanets">
    <div class="planet-border"><app-planet [planetDetails]="suggestion"></app-planet></div>
  </div>

</div>
