<header class="row fix-row">
  <div class="head-section">Welcome {{ username }}</div>
    <button class="btn btn-primary log-out" (click)="logout()">
      Logout
    </button>
</header>
<div class="dashboard-container">
  <input
  #searchPlanet
    class="dashboard"
    type="text"
    [formControl]="typeahead"
    placeholder="Search Star Wars Planets"
    (input)="suggest()"
  />
</div>
  <div class="container1">
  <div  *ngFor="let suggestion of suggestedPlanets">
    <div class="planet-border"><app-planet [planetDetails]="suggestion"></app-planet></div>
  </div>

</div>
